.body {
  font-family: sans-serif;
  margin: auto;
  max-width: available;
  justify-content: space-around;

}

.navbar {
  display:flex;
  background-color:midnightblue;
  max-width: available;
  justify-content: space-around;
}

.navbar a {
  color: skyblue;
  display: flex;
  font-size: 15px;
  padding: 1px;
  text-decoration:thistle;

}

.navbar a:hover {
  color: darkturquoise;

}

@media (min-width: 1000px){
  .columns{
    display: flex;
    flex-direction:row ;
    justify-content:space-around;
  }
}





